---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!--list of skill-->
    <!--for now just do this to reduce the cost of time-->
    <h2>
        <a>技能</a>
    </h2>

    <h4>
      <a>专业技能</a>
    </h4>
    <ul>
        <li>会用CATIA进行三维建模</li>
        <li>会使用AutoCAD绘制二维工程图</li>
        <li>会用如ANSYS 和ADAMS等分析软件</li>
        <li>会使用如Blender, C4D和Keyshot等3D建模渲染软件</li>
        <li>会使用Python，C，汇编，Octave和Matlab等编程语言并用Git进行版本控制</li>
        <li>会使用HTML, CSS制作网站</li>
        <li>有编写AI进行图形、人脸识别的经验</li>
        <li>有操作3D打印机，线切割机，车床等设备的经验</li>
        <li>会使用Altium Designer设计电路板</li>
        <li>有设计赛车悬架经验</li>
        <li>有设置服务器的经验</li>
        <li>有自制IoT设备经验</li>
        <li>有设计变速箱经验</li>
        <li>持有完整的英国和中国驾照并有6年驾驶经验</li>
    </ul>

    <h4>
      <a>语言技能</a>
    </h4>
    <ul>
    <li>雅思6分</li>
    <li>全国高校英语专业四级考试（CET-4）</li>
    </ul>



    <!-- Skills -->
    {% if site.skills.enabled %}
      <h2>
        <a href="{{ '/skills/' | relative_url }}" style="color: inherit">技能</a>
      </h2>
      {% include skills.liquid %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}


    <!-- Selected papers (cause no one for now)-->
    {% if page.selected_papers.enabled %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}
    


    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
